# Accessing and Reading Data Lake Files

First, install the required R packages if not done already. See [Installing Required R Packages.](../00_Installing_Required_R_Packages.ipynb)

In [1]:
library(arrow)

Attaching package: ‘arrow’


The following object is masked from ‘package:utils’:

    timestamp

Read the Parquet file from the file path.

In [2]:
cust_churn_df <- read_parquet("../../data/input/gcs/customer_churn_data.parquet")
str(cust_churn_df)

Classes ‘tbl_df’, ‘tbl’ and 'data.frame':	5000 obs. of  22 variables:
 $ ID                    : num  9155 9160 9163 9170 9175 ...
 $ LostCustomer          : num  0 0 0 0 0 0 0 0 1 0 ...
 $ regionPctCustomers    : num  43 19 19 33 22 30 27 38 22 37 ...
 $ numOfTotalReturns     : num  0 1 0 5 0 0 1 0 2 3 ...
 $ wksSinceLastPurch     : num  14 19 7 7 6 20 18 26 13 17 ...
 $ basktPurchCount12Month: num  10 3 10 2 10 5 3 10 3 1 ...
 $ LastPurchaseAmount    : num  50 50 50 50 50 55 70 90 50 100 ...
 $ AvgPurchaseAmount12   : num  0 62.5 0 40 0 ...
 $ AvgPurchaseAmountTotal: num  55.6 61.9 35.2 34.8 63 ...
 $ intAdExposureCount12  : num  27 13 32 31 40 29 13 26 29 10 ...
 $ intAdExposureCount36  : num  27 30 32 48 40 47 33 26 46 24 ...
 $ intAdExposureCountAll : num  58 61 95 78 126 124 67 76 118 58 ...
 $ socialMediaAdCount12  : num  3 6 4 4 8 5 5 5 6 4 ...
 $ socialMediaAdCount36  : num  3 14 4 14 8 5 14 5 14 13 ...
 $ socialMediaAdCountAll : num  10 20 28 20 27 29 24 21 30 19 ...
 $ totalNumProdPurchased : num  8 8 25 22 27 26 14 8 29 27 ...
 $ custInitiatedContacts : num  1 2 3 3 3 3 2 2 3 3 ...
 $ avgDiscountValue12    : num  NaN 15 NaN 8 NaN ...
 $ customersales         : num  355 546 355 316 343 ...
 $ wksSinceFirstPurch    : num  89 89 148 93 137 150 102 116 139 149 ...
 $ reviewId              : num  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN ...
 $ custId                : num  3423 2097 1257 3797 689 ...

In [3]:
head(cust_churn_df)

  ID   LostCustomer regionPctCustomers numOfTotalReturns wksSinceLastPurch
1 9155 0            43                 0                 14
2 9160 0            19                 1                 19
3 9163 0            19                 0                  7
4 9170 0            33                 5                  7
5 9175 0            22                 0                  6
6 9190 0            30                 0                 20
  basktPurchCount12Month LastPurchaseAmount AvgPurchaseAmount12
1 10                     50                  0.0
2  3                     50                 62.5
3 10                     50                  0.0
4  2                     50                 40.0
5 10                     50                  0.0
6  5                     55                 55.0
  AvgPurchaseAmountTotal intAdExposureCount12 ⋯ socialMediaAdCount12
1 55.65                  27                   ⋯ 3
2 61.90                  13                   ⋯ 6
3 35.20                  32                   ⋯ 4
4 34.75                  31                   ⋯ 4
5 62.95                  40                   ⋯ 8
6 80.20                  29                   ⋯ 5
  socialMediaAdCount36 socialMediaAdCountAll totalNumProdPurchased
1  3                   10                     8
2 14                   20                     8
3  4                   28                    25
4 14                   20                    22
5  8                   27                    27
6  5                   29                    26
  custInitiatedContacts avgDiscountValue12 customersales wksSinceFirstPurch
1 1                     NaN                355.08         89
2 2                      15                546.14         89
3 3                     NaN                355.03        148
4 3                       8                316.33         93
5 3                     NaN                343.20        137
6 3                     NaN                513.57        150
  reviewId custId
1 NaN      3423
2 NaN      2097
3 NaN      1257
4 NaN      3797
5 NaN       689
6 NaN      4213

## Saving data to be accessed later

In [4]:
save(cust_churn_df, file = "02_Accessing_and_Reading_Data_Lake_Files.RData")