# Accessing and Reading Database-Data Lakehouse Data

First, install the required R packages if not done already. See [Installing Required R Packages.](../00_Installing_Required_R_Packages.ipynb)

In [1]:
library(haven)

Read the SAS data set from the file path

In [2]:
customers_df <- read_sas("../../data/input/snowflake/customers.sas7bdat")

str(customers_df)

tibble [4,998 × 7] (S3: tbl_df/tbl/data.frame)
 $ custId            : num [1:4998] 1 2 3 4 5 6 7 8 9 10 ...
 $ DemHomeOwnerCode  : chr [1:4998] "H" "H" "H" "H" ...
  ..- attr(*, "format.sas")= chr "$1"
 $ customerGender    : chr [1:4998] "F" "F" "F" "F" ...
  ..- attr(*, "format.sas")= chr "$1"
 $ EstimatedIncome   : num [1:4998] 3000 5000 6000 7000 14000 15000 16000 18000 18000 19000 ...
  ..- attr(*, "format.sas")= chr "BEST12"
 $ regionMedHomeVal  : num [1:4998] 96980 771550 594750 75790 214370 ...
  ..- attr(*, "format.sas")= chr "BEST12"
 $ customerSubscrCode: num [1:4998] 3 3 3 3 3 3 3 3 3 3 ...
 $ birthDate         : Date[1:4998], format: "1989-03-19" NA ...

In [3]:
head(customers_df)

  custId DemHomeOwnerCode customerGender EstimatedIncome regionMedHomeVal
1 1      H                F               3000            96980
2 2      H                F               5000           771550
3 3      H                F               6000           594750
4 4      H                F               7000            75790
5 5      H                F              14000           214370
6 6      H                F              15000           202150
  customerSubscrCode birthDate
1 3                  1989-03-19
2 3                  <NA>
3 3                  2001-02-14
4 3                  2005-03-13
5 3                  1994-11-04
6 3                  1993-06-02

## Saving data to be accessed later

In [4]:
save(customers_df, file = "03_Accessing_and_Reading_Database-Data_Lakehouse_Data.RData")