# Combining Data

In [6]:
knitr::opts_chunk$set(warning = FALSE, message = FALSE)

First, install the required R packages if not done already. 

## Load any necessary packages.

In [7]:
library(knitr)
library(dplyr)

## Run the data access notebooks.

In [3]:
load("01_Accessing_and_Reading_Local_Files.RData")
load("02_Accessing_and_Reading_Data_Lake_Files.RData")
load("03_Accessing_and_Reading_Database-Data_Lakehouse_Data.RData")

## Joining the Data

In [4]:
df <- cust_churn_df %>%
  inner_join(customers_df, by = "custId") %>%
  select(-custId) %>%
  inner_join(subscriptions_df, by = "customerSubscrCode") %>%
  select(-customerSubscrCode) %>%
  inner_join(techsupportevals_df, by = "ID") %>%
  left_join(reviews_df, by = "reviewId") %>%
  select(-reviewId)

head(df)

  ID   LostCustomer regionPctCustomers numOfTotalReturns wksSinceLastPurch
1 9155 0            43                 0                 14
2 9160 0            19                 1                 19
3 9163 0            19                 0                  7
4 9170 0            33                 5                  7
5 9175 0            22                 0                  6
6 9190 0            30                 0                 20
  basktPurchCount12Month LastPurchaseAmount AvgPurchaseAmount12
1 10                     50                  0.0
2  3                     50                 62.5
3 10                     50                  0.0
4  2                     50                 40.0
5 10                     50                  0.0
6  5                     55                 55.0
  AvgPurchaseAmountTotal intAdExposureCount12 ⋯ wksSinceFirstPurch
1 55.65                  27                   ⋯  89
2 61.90                  13                   ⋯  89
3 35.20                  32                   ⋯ 148
4 34.75                  31                   ⋯  93
5 62.95                  40                   ⋯ 137
6 80.20                  29                   ⋯ 150
  DemHomeOwnerCode customerGender EstimatedIncome regionMedHomeVal birthDate
1 U                F               93000           59280           2004-11-13
2 H                M               84000          170820           1974-03-14
3 H                F              140000           92430           2006-02-22
4 U                F              142000           53430           2006-04-19
5 H                F               83000          443690           2002-02-23
6 U                M               66000          107770           2005-10-23
  customerSubscrStat techSupportEval Review_Text Title
1 Platinum           3               NA          NA
2 Platinum           3               NA          NA
3 Platinum           2               NA          NA
4 Platinum           2               NA          NA
5 Platinum           2               NA          NA
6 Platinum           2               NA          NA

In [5]:
save(df, file = "01_Combining_Data.RData")